.container {
  width: 75%;
  margin: lem auto;
  border-radius: 0.125em;
  border: 1px solid black;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.button {
  max-height: 1.5em;
}